[submodule "submodules/DHT-sensor-library"]
	path = submodules/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library
[submodule "submodules/arduino-ESP8266"]
	path = submodules/arduino-ESP8266
	url = https://github.com/Diaoul/arduino-ESP8266.git
[submodule "submodules/aoabook_Arduino"]
	path = submodules/aoabook_Arduino
	url = https://github.com/aoabook/Arduino
